# ./.env.milvus.example
# Use this file as a template to create your own .env file with your own values

DOCKER_VOLUME_DIRECTORY=
CONFIG_FILE_DIRECTORY=/etc/milvus

# Milvus server parameters
MILVUS_HOST=http://localhost:19530

# Embedding server parameters
EMBEDDING_ENDPOINT=http://172.17.0.1:5052/embed